<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'rubylist', root_path %> > jobs > accounting
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div>
    <button type="button">Reply</button>
    <p>posted <%= time_ago_in_words(@listing.created_at) %> ago</p>
    <h1 class="listing-header"><%= @listing.title %></h1>
    <div class="box">test</div>
    <hr>
    <p><%= @listing.description %></p>
  </div>
  <% if @listing.user = current_user %>
    <li><%= link_to 'Edit', edit_listing_path %></li>
    <li><%= link_to 'Delete', @listing, data: {confirm: "Are you sure you want to delete this listing?"}, method: :delete  %></li>
  <% end %>
  <hr>
  <footer>
    <p>post id: <%= @listing.id %></p>
    <p>posted <%= time_ago_in_words(@listing.created_at) %> ago</p>
  </footer>
</div>
