<div class="container-fluid">
  <div class="row">

    <div class="left col-md-3">
      <a href="#"><h1>rubylist</h1></a>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'post to classfields', new_listing_path %></li>
          <li><%= link_to 'my account', edit_user_registration_path %></li>
          <li><%= link_to 'log out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'my listings', mylistings_path %></li>
        <% else %>
          <li><%= link_to 'sign in', new_user_session_path %></li>
          <li><%= link_to 'sign up', new_user_registration_path %></li>
        <% end %>
      </ul>

        <%= form_tag search_listings_path, method: :get do |f| %>
          <p>search subylist</p>
          <%= text_field_tag :search, nil, placeholder: 'search' %>
          <%= text_field_tag :location, nil, placeholder: 'location' %>
          <%= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id]}) %>
          <%= submit_tag '>' %>
        <% end %>
    </div>

    <div class="center-one col-md-2">
      <table>
        <tr>
          <th><%= link_to 'Community', category_path(@community) %></th>
        </tr>
        <tr>
          <td>
          <% @community.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@community, subcategory) %></li>
            </ul>
          <% end %>
          </td>
        </tr>
        <tr>
          <th><%= link_to 'Personals', category_path(@personals) %></th>
        </tr>
        <tr>
          <td>
            <% @personals.subcategories.each do |subcategory| %>
              <ul>
                <li><%= link_to subcategory.name, category_subcategory_path(@personals, subcategory) %></li>
              </ul>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= link_to 'Services', category_path(@services) %></th>
        </tr>
        <tr>
          <td>
            <% @services.subcategories.each do |subcategory| %>
              <ul>
                <li><%= link_to subcategory.name, category_subcategory_path(@services, subcategory) %></li>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="center-two col-md-2">
    <table>
      <tr>
        <th><%= link_to 'Housing', category_path(@housing) %></th>
      </tr>
      <tr>
        <td>
         <% @housing.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@housing, subcategory) %></li>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= link_to 'For Sale', category_path(@forsale) %></th>
      </tr>
      <tr>
        <td>
          <% @forsale.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@forsale, subcategory) %></li>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
    </div>

    <div class="center-three col-md-2">
    <table>
      <tr>
        <th><%= link_to 'Jobs', category_path(@jobs) %></th>
      </tr>
      <tr>
        <td>
          <% @jobs.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name, category_subcategory_path(@jobs, subcategory) %></li>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
    </div>

    <div class="rightbar col-md-2">
      <ul class="rightbar-top">
        <li><%= link_to 'help and faq', help_path %></li>
        <li><%= link_to 'avoid scams and fraud', scams_path %></li>
        <li><%= link_to 'personal safety tips', safety_path %></li>
        <li class="rightbar-top"><%= link_to 'terms of use', terms_path %></li>
        <li><%= link_to 'privacy policy', privacy_path %></li>
        <li><%= link_to 'about rubylist', about_path %></li>
        <li><%= link_to 'contact us', contact_path %></li>
      </ul>
    </div>
  </div>
</div>
