<div class="container-fluid">
  <div class="row">

    <div class="left col-md-3">
      <a href="#"><h1>rubylist</h1></a>
      <ul>
        <a href="#">post to classfields</a>
        <li>my account</li>
      </ul>
      <form>
        <p>search subylist</p>
        <input type="text", name="firstname" placeholder="search" size="20">
        <br>
        <input type="text", name="firstname", placeholder="where", size="20">
        <br>
        <select>
          <option value="volvo">volvo</option>
          <option value="saab">saab</option>
          <option value="mercedes">mercedes</option>
          <option value="audi">audi</option>
        </select>
        <button type="button"> >
        </button>
      </form>
    </div>

    <div class="center-one col-md-2">
      <table>
        <tr>
          <th><%= link_to 'Community' %></th>
        </tr>
        <tr>
          <td>
          <% @community.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
          <% end %>
          </td>
        </tr>
        <tr>
          <th><%= link_to 'Personals' %></th>
        </tr>
        <tr>
          <td>
            <% @personals.subcategories.each do |subcategory| %>
              <ul>
                <li><%= link_to subcategory.name %></li>
              </ul>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= link_to 'Services' %></th>
        </tr>
        <tr>
          <td>
            <% @services.subcategories.each do |subcategory| %>
              <ul>
                <li><%= link_to subcategory.name %></li>
              </ul>
            <% end %>
          </td>
        </tr>
      </table>
    </div>

    <div class="center-two col-md-2">
    <table>
      <tr>
        <th><%= link_to 'Housing' %></th>
      </tr>
      <tr>
        <td>
         <% @housing.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
          <% end %>
        </td>
      </tr>
      <tr>
        <th><%= link_to 'For Sale' %></th>
      </tr>
      <tr>
        <td>
          <% @forsale.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
    </div>

    <div class="center-three col-md-2">
    <table>
      <tr>
        <th><%= link_to 'Jobs' %></th>
      </tr>
      <tr>
        <td>
          <% @jobs.subcategories.each do |subcategory| %>
            <ul>
              <li><%= link_to subcategory.name %></li>
            </ul>
          <% end %>
        </td>
      </tr>
    </table>
    </div>

    <div class="rightbar col-md-2">
      <ul class="rightbar-top">
        <li><%= link_to 'help and faq', help_path %></li>
        <li><%= link_to 'avoid scams and fraud', scams_path %></li>
        <li><%= link_to 'personal safety tips', safety_path %></li>
        <li class="rightbar-top"><%= link_to 'terms of use', terms_path %></li>
        <li><%= link_to 'privacy policy', privacy_path %></li>
        <li><%= link_to 'about rubylist', about_path %></li>
        <li><%= link_to 'contact us', contact_path %></li>
      </ul>
    </div>
  </div>
</div>
